<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllInOneAv</title>
</head>

<body>
    <div id="app">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">全目录</h1>
                <p class="lead">共有 {{keepModel.total}}</p>
            </div>
        </div>

        <div id="content">
            <div class="container-fluid" style="width:90%;margin-left:50px">
                <div class="row row-cols-5">
                    <div class="col" v-for="av in keepModel.avs">
                        <div class='card' v-bind:class="{'bg-success':av.keep}">
                            <img v-bind:src="av.avPic" class="card-img-top" alt="">
                            <div class="card-body">
                                <h6 class="card-title">{{av.avId}} {{av.avSizeStr}}</h6>
                                <a class="card-text" style="font-size:12px" href="javascript:;">{{av.avName}}</a>
                                <a class="btn btn-info move" v-on:click="keep(av)" style="font-size:12px">保留</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-info" v-on:click="keepAndDelete()">提交</button>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                keepModel: {}
            },
            mounted: function () {
                this.init();
            },
            methods: {
                init: function () {
                    var vm = this;

                    $.ajax({ url: "/Wangpan/GetDeleteFiles?pagesize=200", method: "GET", async: true })
                        .done(function (data) {
                            vm.keepModel = data;
                        });
                },
                keepAndDelete: function () {
                    $.ajax({ type: 'post', url: '/Wangpan/DeleteAndKeep/', data: { 'model': JSON.stringify(this.keepModel) }, async: true })
                        .done(function (data) {
                            if (data == 'success') {
                                window.location.reload();
                            } else {
                                alert(data);
                            }
                        });
                },
                keep: function (av) {
                    av.keep = !av.keep;
                }
            }
        })
    </script>
</body>
</html>
