<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllInOneAv</title>
</head>

<body>
    <div id="app">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">全目录</h1>
                <p class="lead">共有 {{keepModel.total}}</p>
            </div>
        </div>

        <div id="content">
            <div class="container-fluid" style="width:90%;margin-left:50px">
                <div class="row row-cols-5">
                    <div class="col" v-for="av in keepModel.avs">
                        <div class='card'>
                            <img v-bind:src="av.avPic" class="card-img-top" alt="">
                            <div class="card-body">
                                <h6 class="card-title">{{av.avId}} {{av.avSizeStr}}</h6>
                                <a class="card-text" style="font-size:12px" href="javascript:;">{{av.avName}}</a>
                                <span v-if="av.localHas" class="badge badge-pill badge-primary p-2 exist" style="font-size:11px">本地</span>
                                <a class="btn btn-info move" v-on:click="copyFid(av.fid)" style="font-size:12px">移回</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" v-on:click="gotoPage(1)">首页(1)</a></li>

                <li class="page-item"><a class="page-link" v-on:click="gotoPage(keepModel.current - 1)">上一页</a></li>

                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{keepModel.current}}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>

                <li class="page-item"><a class="page-link" v-on:click="gotoPage(keepModel.current + 1)">下一页</a></li>

                <li class="page-item"><a class="page-link" v-on:click="gotoPage(keepModel.count)">尾页({{keepModel.count}})</a></li>
            </ul>
        </nav>

        <div class="input-group mb-3">
            <input type="number" step="1" class="form-control" v-model="keepModel.jumpPage">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" v-on:click="gotoPage(keepModel.jumpPage)" type="button">跳转</button>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                keepModel: {}
            },
            mounted: function () {
                this.init();
            },
            methods: {
                init: function () {
                    var vm = this;

                    $.ajax({ url: "/Wangpan/GetKeepFiles?pagesize=200&page=1&force=true", method: "GET", async: true })
                        .done(function (data) {
                            vm.keepModel = data;
                        });
                },
                gotoPage: function (number) {
                    var vm = this;

                    if (number <= 0) {
                        number = 1;
                    }

                    if (number > vm.keepModel.count) {
                        number = vm.keepModel.count;
                    }

                    $.ajax({ url: "/Wangpan/GetKeepFiles?pagesize=200&force=false&page=" + number, method: "GET", async: true })
                        .done(function (data) {
                            vm.keepModel = data;
                        });
                },
                copyFid: function (fid) {
                    $.ajax({ url: "/Wangpan/SaveBack?fid=" + fid, method: "GET", async: true })
                        .done(function (data) {
                            if (data != 'success') {
                                alert("复制失败!");
                            }
                        });
                }
            }
        })
    </script>
</body>
</html>
