<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllInOneAv</title>

    <link rel="stylesheet" href="~/css/localindex.css" />
</head>

<body>
    <div class="container">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary" id="uploadLocal">扫描本地需要上传</button>
                <button type="button" class="btn btn-primary" id="moveBackToFin">还原本地上传</button>
                <button type="button" class="btn btn-primary" id="moveTofin">Upload到Fin</button>
                <button type="button" class="btn btn-primary">下载保留AV到本地</button>
                <button type="button" class="btn btn-primary">删除已同步的本地AV</button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-info">整理115同名AV</button>
                <button type="button" class="btn btn-info">整理115同番号AV</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" id="refresh115Redis">刷新115缓存</button>
            </div>
        </div>
    </div>

    <script>
        $("#uploadLocal").click(function () {
            $.ajax({ url: "/Wangpan/ScanLocalToUpload", async: false }).done(function (data) { alert(data.msg); });
        });

        $("#moveBackToFin").click(function () {
            $.ajax({ url: "/Wangpan/MoveBackToFin", async: true }).done(function (data) { alert("移动完成"); });
        });
        
        $("#moveTofin").click(function () {
            $.ajax({ url: "/Wangpan/MoveTofin", async: true }).done(function (data) { alert("移动完成"); });
        });

        $("#refresh115Redis").click(function () {
            $.ajax({ url: "/Wangpan/Refresh115Redis", async: true }).done(function (data) { alert("刷新完成"); });
        });
    </script>
</body>
</html>
