<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AllInOneAv</title>
    </head>

    <body>
        <div id="app" class="container">
            <div class="container">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                        <button type="button" class="btn btn-info" id="selectAll" data-type="all">全选/取消</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button v-on:click="deleteItem" class="btn btn-danger">删除</button>
                    </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" v-for="(value, key, index) in files">
                        <div class="card">
                            <div class="card-header">{{key}}</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="file in value" v-bind:data-file="file.fid" v-bind:data-size="file.s" v-bind:data-chinese="file.isChinese">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" class="check" v-model="file.delete" v-bind:data-size="file.s" v-bind:data-file="file.fid">
                                                </div>
                                            </div>
                                            <input type="text" class="form-control file-badge" v-model="file.newName">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span class="badge badge-secondary">{{file.sizeStr}}</span>
                                                    <span v-if="file.isChinese" class="badge badge-success">中文</span>
                                                    <button v-on:click="play(file.pc)" class="btn btn-sm btn-dark">播放</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="modal fade" id="modal" tabindex="-1" style="display:none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">提示</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="deleteContent">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="realDelete">删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    files: {}
                },
                mounted: function () {
                    this.getSetting();
                },
                methods: {
                    getSetting: function () {
                        var vm = this;

                        $.ajax({ url: "/Wangpan/GetDuplicateAvFile", method: "GET", async: true })
                            .done(function (data) {
                                vm.files = data;
                            });
                    },
                    play: function (pc) {
                        $.ajax({ url: "/Wangpan/Getm3u8?pc=" + pc, method: "GET", async: true })
                            .done(function (data) {
                                window.open(data); 
                            });
                    },
                    deleteItem: function () {
                        var vm = this;

                        $.ajax({ url: "/Wangpan/Delete", method: "POST", async: true, contentType: "application/json", dataType: "json", data: JSON.stringify(vm.files) })
                            .done(function (data) {
                                if (data.status == 0) {
                                    alert(data.msg);
                                    window.location.reload();
                                } else {
                                    alert('失败');
                                }
                            });
                    }
                }
            })
        </script>
    </body>
</html>