<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="never">
    <title>@ViewData["Title"] - AllInOneAv</title>

    <script src="~/js/fileutility.js"></script>
</head>

<body>
    <span id="id" style="display:none">@ViewData["Id"]</span>

    <div id="app">
        <div class="btn-toolbar sticky-top" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-warning" v-on:click="selectAll">全部</button>
                <button type="button" class="btn btn-primary" v-on:click="selectExist">大于已存在</button>
                <button type="button" class="btn btn-danger" v-on:click="selectNotExist">大于不存在</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-info" v-on:click="onlyCopy">只复制</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-success" v-on:click="download">下载</button>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="row row-cols-5">
                <div class="col mb-2" v-for="item in items">
                    <div class="card text-white bg-dark">
                        <img v-bind:src="item.avModel.picUrl" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex">
                                <h6 class="card-title mr-auto">{{item.avModel.avId}}</h6>
                                @*<span v-if="item.biggestSize > 0" class="badge badge-pill badge-success p-2" style="font-size:11px">{{item.biggestSizeStr}}</span>*@
                                <span v-if="item.hasGreaterSize" class="badge badge-pill badge-success p-2 greater" style="font-size:11px">大于</span>
                                <span v-if="item.hasChinese" class="badge badge-pill badge-info p-2" style="font-size:11px">中文</span>
                                <span v-if="(item.fileLocation & 1) == 1" class="badge badge-pill badge-primary p-2 exist" style="font-size:11px">本地{{item.localSizeStr}}</span>
                                <span v-if="(item.fileLocation & 2) == 2" class="badge badge-pill badge-light p-2 exist" style="font-size:11px">网盘{{item.oneOneFiveSizeStr}}</span>
                            </div>
                            <p style="font-size:11px;" class="card-text">{{item.avModel.name}}</p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark py-1" v-for="magnet in item.magnets" v-bind:data-magurl="magnet.magUrl" v-on:click="itemClick($event)">
                                {{magnet.title}}
                                <span class="badge badge-primary badge-pill">{{magnet.magSizeStr}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">复制磁链</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">磁链:</label>
                        <textarea class="form-control" id="magUrls"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var download = '';

        var app = new Vue({
            el: '#app',
            data: {
                items: {}
            },
            created: function () {
                this.getItems();
            },
            methods: {
                getItems: function () {
                    var vm = this;

                    $.ajax({ url: "/Scan/GetScanResultDetail?id=" + $("#id").text(), method: "GET", async: true })
                        .done(function (data) {
                            vm.items = data;
                        });
                },
                selectAll: function () {
                    $(".col").show();
                },
                selectExist: function () {
                    $(".col").hide();
                    $(".greater").each(function () {
                        if ($(this).siblings(".exist").length > 0) {
                            $(this.parentNode.parentNode.parentNode.parentNode).show();
                        }
                    });
                },
                selectNotExist: function () {
                    $(".col").hide();
                    $(".greater").each(function () {
                        if ($(this).siblings(".exist").length <= 0) {
                            $(this.parentNode.parentNode.parentNode.parentNode).show();
                        }
                    });
                },
                onlyCopy: function () {
                    download = '';

                    $(".list-group-item.active").each(function (index, element) {
                        download += $(this).data("magurl") + "\n\r";
                    });

                    $("#magUrls").empty();
                    $("#magUrls").append(download);

                    if (download != '') {
                        $('.modal').modal('show');
                    }
                },
                download: function () {
                    download = '';

                    $(".list-group-item.active").each(function (index, element) {
                        download += $(this).data("magurl") + "\n\r";
                    });

                    $.ajax({ type: 'post', url: '/Scan/Add115Task/', data: { 'mag': download }, async: true, dataType: 'json' })
                        .done(function (data) {
                            if (data.error_msg == undefined || data.error_msg == null || data.error_msg == '') {
                                alert("下载成功");
                            } else {
                                alert(data.error_msg);
                            }
                        });
                },
                itemClick: function (event) {
                    $(event.currentTarget).siblings().removeClass("active");
                    $(event.currentTarget).toggleClass("active");
                }
            }
        })
    </script>
</body>
</html>