@using Models

<!DOCTYPE html>

@{
    var reports = (List<Report>)ViewData["reports"];
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllInOneAv</title>

    <link rel="stylesheet" href="~/css/localindex.css" />
</head>

<body>
    <div class="container">

        <button type="button" class="btn btn-info mb-2" id="generate">生成报表</button>

        <div class="input-group">
            <select class="custom-select" id="reports">
                <option selected>选择Report</option>
                @foreach (var report in reports)
                {
                <option value="@report.ReportId">@(report.ReportId + " --- " + report.EndDate.ToString("yyyy-MM-dd hh:mm:ss")) </option>
                }
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="show">查看</button>
            </div>
        </div>
    </div>

    <script>
        $("#show").click(function () {
            if ($("#reports").val() != "选择Reports") {
                window.location.href = "/Report/ShowChart?id=" + $("#reports").val(); 
            }
        });

        $("#generate").click(function () {
            $.ajax({ url: "/Report/GenerateReport", async: true }).done(alert("创建生成报表任务成功，稍后回来刷新查看"));
        });
    </script>
</body>
</html>
