<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AllInOneAv</title>

    <link rel="stylesheet" href="~/css/bootstrap-select.css" />
    <script src="~/js/vue.min.js"></script>
    <script src="~/js/lib/signalr.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="btn-toolbar mb-3" role="toolbar">
                <div class="btn-group mr-2" role="group" v-for="(obj, key, index) in drops.drops">
                    <select class="selectpicker" multiple @*data-selected-text-format="count > 3"*@ v-bind:title="obj.title" data-actions-box="true" data-style="btn-info" v-on:change="selectChange($event)">
                        <option v-for="(subobj, subkey, j) in obj.items" v-text="subobj.text" v-bind:value="subobj.value"></option>
                    </select>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" v-model="drops.url">
                <div class="input-group-prepend">
                    <input type="text" class="form-control" v-model="drops.name">
                    <select class="custom-select" v-model="drops.order">
                        <option value="Asc">正序</option>
                        <option value="Desc">倒序</option>
                    </select>
                    <input type="number" step="1" class="form-control" v-model="drops.page">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="start">扫描</button>
                </div>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">操作日志</span>
                </div>
                <textarea class="form-control" id="messages" style="height:700px;resize:none;background-color:#343a40!important;color:white"></textarea>
            </div>
        </div>
    </div>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                drops: {}
            },
            created: function () {
                this.initData();
            },
            methods: {

                initData: function () {
                    var vm = this;

                    $.ajax({ url: "/Scan/GetJavLibraryData", method: "GET" })
                        .done(function (data) { vm.drops = data; });
                },

                selectChange: function (item) {
                    var vm = this;

                    //var name = item.currentTarget.title;

                    var text = "";
                    $(item.currentTarget).val().forEach(function (item) {
                        text += item + ",";
                    });

                    vm.drops.url = text.substring(0, text.length - 1);
                }
            }
        })

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("http://localhost:20004/jobs")
            .build();

        connection.on("ScanResult", function (message) {
            $("#messages").append(message + "\n");
            $("#messages").scrollTop($("#messages")[0].scrollHeight);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        $("body").on("click", '#start', function (event) {
            var url = app.drops.url;
            var name = app.drops.name;
            var page = app.drops.page;
            var order = app.drops.order;

            var p = JSON.stringify({ Url: url, Name: name, Page: Number(page), Order: order });

            //TODO post to controller push into redis get key and pass key to job hub, after process delete key
            $.ajax({ url: "/Scan/PushAndGetRedisKey", method: "POST", async: false, data: { str: p } })
                .done(function (data) {
                    if (data != '') {
                        connection.invoke("ScanJavLibrary", data).catch(function (err) {
                            return console.error(err.toString());
                        });
                    }else {
                        alert("创建失败");
                    }
                });

            event.preventDefault();
        });
    </script>
</body>
</html>